annotated-types==0.6.0
anyio==4.2.0
cachetools==5.3.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
fastapi==0.109.2
google-auth==2.27.0
google-auth-oauthlib==1.2.0
gspread==6.0.2
h11==0.14.0
idna==3.6
oauthlib==3.2.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydantic==2.6.1
pydantic-core==2.16.2
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
sniffio==1.3.0
starlette==0.36.3
StrEnum==0.4.15
typing-extensions==4.9.0
urllib3==2.2.0
uvicorn==0.27.1

openai~=1.12.0
