<div class="card personalize-offer">

    <p>Эта версия статьи проверена наставником, но мы можем собрать специальную версию с помощью ИИ </p>

    <details>
      <summary class="personalize-offer__trigger"> 🪄 Объясните как будто я...</summary>
        <form action="">
            <button type="submit" name="" value="Водитель">Водитель</button>
            <button type="submit" name="" value="Водитель">Бухгалтер</button>
            <button type="submit" name="" value="Водитель">Домохозяйка</button>
            <button type="submit" name="" value="Водитель">Логист</button>
            <button type="submit" name="" value="Водитель">Математик</button>
            <button type="submit" name="" value="Водитель">Школьник</button>
        </form>
    </details>


</div>
