<div class="card wiki-rate">

    <h4 class="wiki-rate__header">Расскажи, помогла ли тебе статья разобраться с темой?</h4>

    <form action="/explain/{{slug}}/rate" class="wiki-rate__form" method="get">

        <input type="hidden" name="student_id" value="{{ student_id }}">
        <input type="hidden" name="skill" value="{{ slug }}">
        <input type="hidden" name="persolalized" value="{{ personalized }}">

        <button type="submit" name="grade" value="5" class="btn btn-primary">Точно да!</button>
        <button type="submit" name="grade" value="4" class="btn btn-primary">Скорее да</button>
        <button type="submit" name="grade" value="3" class="btn btn-primary">Не знаю</button>
        <button type="submit" name="grade" value="2" class="btn btn-primary">Скорее нет</button>
        <button type="submit" name="grade" value="1" class="btn btn-primary">Точно нет!</button>

    </form>

</div>
